<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreN">Nombre de Noticia</label>
                    <input type="text" class="form-control" id="nombreN" name="nombreN" [(ngModel)]="nombreN" required>
                </div>
                <div class="form-group">
                    <label for="descripcionN">Cuerpo de noticia</label>
                    <input type="text" class="form-control" id="descripcionN" name="descripcioN" [(ngModel)]="descripcionN" required>
                </div>
                <button class="btn btn-primary">
                    Agregar noticia
                </button>
            </form>
        </div>
    </div>
</div>