<div>
    <h1 class="titulo1">ULTIMAS NOTAS</h1>
    
        <div class="box1">
            
                <h1 class="titulo">Noticia del dia</h1>
                <h3 class="titulo">Fecha</h3>
            
            <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?</p>
        </div>
    
    
        <div class="box1">
            
                <h1 class="titulo">Noticia del dia</h1>
                <h3 class="titulo">Fecha</h3>
            
            <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?</p>
        </div>
    
    
        <div class="box1">
            
                <h1 class="titulo">Noticia del dia</h1>
                <h3 class="titulo">Fecha</h3>
            
            <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident quae mollitia,
                non tenetur fugiat cumque sed ut quia quod. Perferendis deleniti cumque rerum
                ullam beatae sit id totam dignissimos consectetur?</p>
        </div>
    

</div>