<div class="row">
    <h1>Noticias</h1>
    
    <div class="col-lg-2">
        <button type="button" class="btn4" routerLink="/crear">
            Nueva Noticia            
        </button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
<table class="table">
    <tbody>
        <tr *ngFor="let Noticias of notili">
            <td>{{Noticias.nombreN}}</td>
            <td>{{Noticias.descripcionN}}</td>
            <td>Borrar</td>
            <td>editarr</td>
        </tr>
    </tbody>
</table>
<h3 class="lala">Finish</h3>