<body class="body1">
        <nav class="navegador">
                <ul>
                        <a href="https://github.com/matii1290/"><img
                                        src="https://scontent.xx.fbcdn.net/v/t1.15752-9/180338585_270755124757118_1799024882310340726_n.png?stp=dst-png_p206x206&_nc_cat=104&ccb=1-7&_nc_sid=aee45a&_nc_ohc=1xO6g-ikF-gAX-IvqXA&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJCjMbAaUmQ2ESLxbVMoSiywHu6DNcQtAZYww35AA20SA&oe=636B8739"
                                        class="Aprograma"></a> <b class="APText">Bienvenidos a mi blog - Matias Daniel
                                Scoponi</b>
                        <a href="https://facebook.com/matiscoponi"><img src="https://imageshack.com/i/pmEwVazRp"
                                        class="Fbook"></a>
                        <a href="https://github.com/matii1290/"><img
                                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="Fbook"></a>
                        <a href="https://www.instagram.com/scoponimaatu/"><img src="https://imageshack.com/i/pooCOtkNp"
                                        class="Igram"></a>
                        <a href="https://api.whatsapp.com/send?phone=3329405500&text=Whatsapp%20Matias%20Scoponi"><img
                                        src="https://imagizer.imageshack.com/img924/1887/vCExyP.png" class="Wpp"></a>
                </ul>
        </nav>
        <div class="Profile-picture"> <img src="{{persona.img}}" class="pic123">
        </div>
        <div class="parrafo1">
                <span>
                <h1 class="heading">{{persona.nombre}} {{persona.apellido}} </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br>
                        Quos magni recusandae harum nihil fugiat! Iure vel amet, temporibus dolorem<br>
                        veniam doloremque ab in commodi tenetur nulla eaque ut, non vero?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br>
                        Quos magni recusandae harum nihil fugiat! Iure vel amet, temporibus dolorem<br>
                        veniam doloremque ab in commodi tenetur nulla eaque ut, non vero?</p>
                </span>
                </div>
                
</body>

